body{
    background-color: #d9d9d9;
}
.south_campus_img{
    display:flex; 
    position: relative;
    margin: auto;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    min-width: 70vmin; 
    max-width: 170vmin;
}
#main_img{
    max-width: 75%;
    position: relative;
    box-shadow: 0 0 8px 8px #d9d9d9 inset;
    margin: 0 auto;
}

#top_building{
    position: absolute;
    opacity: 30%;
    background-color: #FBD148;
    transform: rotate(-12.5deg);
    height: 3.3%;
    width: 7.85%;
    top: 79.5%;
    left: 14.9%;
    z-index: 1;
}
#bottom_building{
    position: absolute;
    transform: rotate(-12.6deg);
    height: 3.5%;
    width: 8.1%;
    top: 82.8%;
    left: 23.2%;
    opacity: 30%;
    background-color: #FBD148;
    z-index: 1;
}
#bottom_building:hover,#top_building:hover{
    opacity: 50%;
    background-color: #B2EA70 !important;
}
#popup1, #popup2{
    position: absolute;
    display: none;
    background-color: #F9975D;
    border-radius: 30%;
    box-shadow: 0px 0px 6px #B2B2B2;
    height: 30%;
    width:  30%;
    border-radius: 20%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 3vmin;
    top: 48%;
    left:24%;
    z-index: 3;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 1.2vmax;
    width: 100%
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.5px;
    
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#popup1::after, #popup2::after{
    background-color: #F9975D;
    content: "\00a0";
    display: block;
    height: 17%;
    width: 10%;
    left: 10%;
    position: absolute;
    top: 87%;
    transform:             rotate(45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
}
#popup1:before, #popup2::before{
    background-color: #F9975D;
    content: "\00a0";
    display: block;
    height: 17%;
    width: 15%;
    left: 0%;
    position: absolute;
    top: 81%;
}
#top_building:hover + #popup1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:white;
}
#bottom_building:hover + #popup2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:white;
}
#bef_but{
    right:20%;
    top:20%;
    background-color: #C85C5C;
}
#aft_but{
    right:15%;
    top:35%;
    background-color: #B2EA70;
}
button {
    position: absolute;
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 5.5vmax;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 1vmax;
    padding-right: 1vmax;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 2vmax;
    z-index: 1;
}
button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
svg{
    position: absolute;
    opacity: 80%;
    z-index: 0;
}
#EUI{
    position: absolute;
    height: 4%;
    top:90%;
    left: 12.5%;
    z-index: 3;
}


/* Color pallettes
https://colorhunt.co/palette/c85c5cf9975dfbd148b2ea70 
https://www.color-hex.com/color-palette/6393 (Skip #b4e1fd)
https://www.color-hex.com/color-palette/28118 (Skip #f6bd60)*/