body{
    background-color: #d9d9d9;
    width: 130%;
    overflow: hidden;
}

.south_campus_img{
    left: calc(100vw/-6);
    display:flex; 
    position: relative;
    margin: auto;
    justify-content: center;
    top: 55%;
    transform: translateY(-50%);
    min-width: 70vmin; 
    max-width: 160vmin;
}
#main_img{
    max-width: 75%;
    position: relative;
    box-shadow: 0 0 8px 8px #d9d9d9 inset;
    margin: 0 auto;
}

.rectangle:hover{
    cursor: pointer;
    opacity: 50%;
}
#popup{
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color:white;
    position: absolute;
    display: none;
    background-color: #F9975D;
    border-radius: 30%;
    box-shadow: 0px 0px 6px #B2B2B2;
    /* height: 30%;
    width:  30%; */
    height: 28%;
    width:  28%;
    /* border-radius: 20%; */
    border-radius: 10%;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    /* font-size: 3vmin; */
    font-size: 2.8vmin;
    /* top:44%;
    left:23%; */
    top:20%;
    left:58.5%;
    z-index: 3;
}
table{
    position: absolute;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* font-size: 55%; */
    font-size: 55%;
    left: 10%;
    height: 79%;
    width: 80%;
    z-index: 3;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.2px;
    
}
tr:nth-child(even) {
    background-color: #dddddd;
}
/* #popup::after{
    background-color: #F9975D;
    content: "\00a0";
    display: block;
    height: 17%;
    width: 10%;
    left: 10%;
    position: absolute;
    top: 87%;
    transform:             rotate(45deg );
        -moz-transform:    rotate( 45deg );
        -ms-transform:     rotate( 45deg );
        -o-transform:      rotate( 45deg );
        -webkit-transform: rotate( 45deg );
}
#popup:before{
    background-color: #F9975D;
    content: "\00a0";
    display: block;
    height: 17%;
    width: 15%;
    left: 0%;
    position: absolute;
    top: 81%;
} */
#bef_but{
    color:#B2EA70;
    height: 6.35%;
    width: 14.5%;
    left: 12.4%;
    top:-7.5%;
    background-color: #C85C5C;
}
#aft_but{
    height: 6.35%;
    width: 14.5%;
    left: 27.9%;
    top:-7.5%;
    background-color: #B2EA70;
}
#EUI_but{
    color:white;
    height: 6.35%;
    width: 17%;
    left: 43.5%;
    top:-7.5%;
    font-size: 2.3vmin;
    background-color: #FBD148;
}
#comfort_but{
    height: 6.35%;
    width: 10%;
    left: 77.5%;
    top:-7.5%;
    background-color: #f2c7c0;
}
#IAQ_but{
    height: 6.35%;
    width: 16%;
    left: 61%;
    top:-7.5%;
    background-color: #a2d9ea;
    font-size: 2.3vmin;
}
button {
    position: absolute;
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: arial;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 1vmax;
    padding-right: 1vmax;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 2.5vmin;
    z-index: 1;
}
button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
svg{
    position: absolute;
    opacity: 100%;
    z-index: 0;
}
#EUI_bar{
    position: absolute;
    height: 6.35%;
    top:-0.5%;
    left: 12.4%;
    z-index: 3;
}
#comfort_bar{
    position: absolute;
    height: 6.20%;
    top:-0.5%;
    left: 12.4%;
    z-index: 3;
    display: none;
}
#IAQ_bar{
    position: absolute;
    height: 6.15%;
    top:-0.4%;
    left: 12.4%;
    z-index: 3;
    display: none;
}
#authors{
    position: absolute;
    height: 3%;
    top:97.5%;
    right: 12.2%;
    z-index: 3;
    filter: invert(1);
}


/* Color pallettes
https://colorhunt.co/palette/c85c5cf9975dfbd148b2ea70 
https://www.color-hex.com/color-palette/6393 (Skip #b4e1fd)
https://www.color-hex.com/color-palette/28118 (Skip #f6bd60)*/
/* particle animation https://loading.io/asset/593136 */